<h1>Listing asistencia</h1>

<table>
  <tr>
    <th>Persona</th>
    <th>Evento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @asistencia.each do |asistencium| %>
  <tr>
    <td><%= asistencium.persona_id %></td>
    <td><%= asistencium.evento_id %></td>
    <td><%= link_to 'Show', asistencium %></td>
    <td><%= link_to 'Edit', edit_asistencium_path(asistencium) %></td>
    <td><%= link_to 'Destroy', asistencium, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Asistencium', new_asistencium_path %>
